.box {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 1em;
   
}
.contact{
    flex-direction: column;
    display: flex;
    row-gap: 1em;
}

.street{
    flex:2  auto;
    row-gap: 1em;

}

    .city {
        flex: 2;
         row-gap: 1em;
      }

      .state {
        flex: 1 ;
      }

      .zipcode {
        flex: 2 ;
      }

      .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;  
        padding: 10px 0;  
        background: rgb(245, 239, 239); 
        padding: 7px 25px;   
        
        
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    } 
    .container{
        padding-top: 60px;
        padding-bottom: 40px;
       
    }
    
